*{
    padding:0;
}

body{
    display:flex;
    margin: 0;
    flex-direction: column;
    align-items:stretch;
    min-height: 100vh;

    
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly; 
    gap:20px;
    height:100px;
    
    
    
}
.header,
.title-container{
    background-color: #1F2937;
}


a{
    text-decoration: none;
    color:lightseagreen;
}
.title-container{
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    flex-basis:100%;
    height:500px;
    
}

.box-container{
    
    position:relative;
    margin:10px;
    display:flex;
    flex-direction: row;

    
}

.imgbox{
    
    
    max-width: 300px;
   
    flex: 1 1 100%;
}

.imgbox img{
    max-width:75%;
    
}

.box-content{
    flex: 1;

    flex-direction: row;
    flex-grow: 1;
    align-self: center;
    text-align: center;
}

.cards{
    display:flex;
    flex-direction: row;
    
}
.header-logo{
    font-size:large;
    margin-right:auto;
}
.header-logo a{
    color:white;
}



img{
    
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}


.sub-title{
    font-size:18px;
    color:#E5E7EB;
}

button{             /*Button class*/
    background-color: #3882F6;
    border:none;
    color:white;
    width:10%;
    border-radius: 10%;
}


.title-of-card{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.card{
    font-size: 12px;
    font-style: italic;
    color:#1F2937;
}

.quote-content{
    background-color: #E5E7EB;
}



.card img{
    max-width: 50%;
    width:50px;
}

.modal{
    background-color: #3882F6;
    margin:20px;
    
    
}
.sign-up-button{
    border:1px solid white;

}